@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="h3">Woops, looks like you are not authorized to see this page.</div>
    <div>Would you prefer to <a asp-controller="Gallery" asp-action="logout"> login in as someone else</a> ?</div>
</div>