@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>Hi visitor. The application is a front end support to get and process the API calls.</p><br/>
    <p>Feel free to decorate it per your needs!</p>
    <img src="~/img/Background.svg" />
</div>
