@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container-fluid mt-5 mb-5 d-flex justify-content-center align-content-center">
    <h2>404 - The page can't be found.</h2>
</div>
