@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Woopsie, An error occurred while processing your request.</h2>
<h3 class="text-danger">If the problem persist try to contact your administrator.</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

